# Conexión base al servidor SQL Server (Master/Instancia completa)
DATABASE_URL_BASE=
DATABASE_URL2=

RESEND_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=

CLOUDNANE=
CLOUDKEY=
CLOUDSECRET=

KEY_JWT=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
